/*google fonts*/
/*add here*/

/*asterics wildcard to override all general styles set by browser*/
/*general rules*/
* {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-decoration: none;
}

/*push down footer*/
main {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
footer {
    display: flex;
    flex: 0;
    justify-content: flex-end;
}

/*navigation-bar*/
#nav-bar {
    list-style-type: none;
    color: whitesmoke;
    background-color: darkolivegreen;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/*class active on nav-bar*/
.active {
border-bottom: 1px solid #3a3a3a;
}

/*home-page*/
#homepage-main {
    background: url(../images/doggycafe/doggy-daycare.jpg) no-repeat top center / cover;
}

/*menu-page*/
#menu-main {
    background: url('../images/doggycafe/fifty-bullar.jpg') no-repeat top center / cover;
}
#footer {
    background-color: darkolivegreen;
    display: flex;
    justify-content: center;
}
/*social media icons footer*/
#social-media {
    list-style-type: none;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
}