/*google fonts*/
/*add here*/

/*asterics wildcard to override all general styles set by browser*/
/*general rules*/
* {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-decoration: none;
}

/*header*/
header {
    background-color: white;
}

/*main*/
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

/*footer*/
footer {
    background-color: white;
    margin-top: auto;
}

/*navigation-bar*/
#nav-bar {
    list-style-type: none;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/*class active on nav-bar*/
.active {
    border-bottom: 1px solid #3a3a3a;
}

/*home-page*/
#homepage-main {
    background: url(../images/doggycafe/doggy-daycare.jpg) no-repeat center fixed;
    width: 100%;
    height: 300px;
    background-size: contain;
}

/*menu-page*/
#menu-main {
    background: url('../images/doggycafe/fifty-bullar.jpg') no-repeat center fixed;
    width: 100%;
    height: 300px;
    background-size: contain;
}

/*photos in about*/
.photos {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    column-count: 4;
}

/*footer*/
#footer {
    background-color: white;
    display: flex;
    justify-content: center;
}

/*social media icons footer*/
#social-media {
    list-style-type: none;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Media query: large or landscape phones (576px and up) 
@media screen and (min-width: 576px)
@media screen and (min-width: 576px) */

/* Media query: tablets and larger (768px and up) 
@media screen and (min-width: 768px) */

/* Large devices (laptops and desktops, 992px and up) 
@media screen and (min-width: 992px) */

/* Large devices (laptops and desktops, 992px and up)
@media screen and (min-width: 1200px) */