/*google fonts
@import url('');
*/

/*asterics wildcard to override all general styles set by browser*/
/*general rules*/
* {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-decoration: none;
}

/*header*/
header {
    background-color: white;
}

/*main*/
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*make all main-content more centered*/
.main-content {
    padding: 60px;
    border: 40px;
    margin: 20px;
}

/*navigation-bar*/
#nav-bar {
    list-style-type: none;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

/*class active on nav-bar*/
.active {
    border-bottom: 1px solid #3a3a3a;
}


/*background-image*/
#background-image {
    background: url(../images/doggycafe/doggy-daycare.jpg) no-repeat center fixed;
    width: 100%;
    max-height: 300px;
    background-size: cover;
}

/*text-box over background image*/
#text-box {
    position: absolute;
    background-color: white;
    opacity: 0.8;
    color: black;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;

}

#text-box-about {
    position: top;
    background-color: white;
    color: black;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}


/*photogallery in about*/
.photos img {
    max-width: 300px;
    height: 100%;
    border-radius: 15px;
}

.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 10px;
}

/*form*/
#form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px 15px;
    padding: 30px;
}

fieldset {
    border: none;
}

/*footer*/
footer {
    background-color: white;
    margin-top: auto;
}

/*footer*/
#footer {
    background-color: white;
    padding: 40px;
    border: 10px;
    margin: 10px:
}

/*opening hours*/
#openwhen {
    display: flex;
    justify-content: space-evenly;
}

/*social media icons footer*/
#social-media {
    list-style-type: none;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) .photos img {
    max-width: 300px;
    background-size: contain;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) .photos img {
    max-width: 300px;
    background-size: contain;
}

/* Large devices (laptops and desktops, 992px and up) 
@media screen and (min-width: 992px) */

/* Large devices (laptops and desktops, 992px and up)
@media screen and (min-width: 1200px) */